@use "sass:math";
$grid-column: 12;
$base-gap: 10px;

.bp-row {
  display: flex;
  flex-flow: row wrap;
  gap: $base-gap;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

//col classes

@include xs {
  @for $i from 1 through $grid-column {
    .col-xs-#{$i} {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc(math.div($i * 100%, $grid-column) - $base-gap) !important;
    }
  }
}
@include sm {
  @for $i from 1 through $grid-column {
    .col-sm-#{$i} {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc(math.div($i * 100%, $grid-column) - $base-gap) !important;
    }
  }
}
@include md {
  @for $i from 1 through $grid-column {
    .col-md-#{$i} {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc(math.div($i * 100%, $grid-column) - $base-gap) !important;
    }
  }
}
@include lg {
  @for $i from 1 through $grid-column {
    .col-lg-#{$i} {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc(math.div($i * 100%, $grid-column) - $base-gap) !important;
    }
  }
}
@include xl {
  @for $i from 1 through $grid-column {
    .col-xl-#{$i} {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc(math.div($i * 100%, $grid-column) - $base-gap) !important;
    }
  }
}

// default
@for $i from 1 through $grid-column {
  .col-#{$i} {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(math.div($i * 100%, $grid-column) - $base-gap);
  }
}
