//Style to reset all
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $font-base;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
