@use "sass:math";

@mixin Container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}
.no-overflow {
  overflow: hidden;
}

.container {
  width: 100%;
  @include Container;
}

/* Large container */
.container-lg {
  max-width: 1140px;
  @include Container;
}

/* Extra large container */
.container-xl {
  max-width: 1320px;
  @include Container;
}

/* For ensuring that content doesn't exceed container width */
.container-fluid {
  width: 100%;
  @include Container;
}

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border": (
    "prefix": "border",
    "values": (
      "none": none,
      "default": 1px solid $border-color,
      "1": 1px solid $border-color,
      "2": 2px solid $border-color,
      "3": 3px solid $border-color,
      "4": 4px solid $border-color,
      "5": 5px solid $border-color,
      "dashed-1": 1px dashed $border-color,
      "dashed-2": 2px dashed $border-color,
      "dashed-3": 3px dashed $border-color,
      "dashed-4": 4px dashed $border-color,
      "dashed-5": 5px dashed $border-color,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "md": $base-border-radius,
      "lg": $base-border-radius * 2,
      "round": 50%,
      "full": 100%,
    ),
  ),
  "display": (
    "prefix": "d",
    "values": (
      "n": none,
      "block": block,
      "flex": flex,
      "inline": inline,
      "inline-block": inline-block,
      "grid": grid,
    ),
  ),
  "gap": (
    "prefix": "gap",
    "values": (
      "1": $gap-base,
      "2": $gap-base * 1.5,
      "3": $gap-base * 2,
      "4": $gap-base * 2.5,
      "5": $gap-base * 3,
    ),
  ),
  "flex-direction": (
    "prefix": "flex",
    "values": (
      "column": column,
      "row": row,
      "row-reverse": row-reverse,
      "column-reverse": column-reverse,
    ),
  ),
  "flex-wrap": (
    "prefix": "flex",
    "values": (
      "wrap": wrap,
      "nowrap": nowrap,
      "wrap-reverse": wrap-reverse,
      "inherit": inherit,
      "initial": initial,
      "unset": unset,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "xs": $font-size-xs,
      "sm": $font-size-sm,
      "md": $font-size-md,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl,
    ),
  ),
  "font-style": (
    "prefix": "fs",
    "values": (
      "normal": normal,
      "italic": italic,
      "oblique": oblique,
    ),
  ),
  "justify-content": (
    "prefix": "justify-content",
    "values": (
      "s": start,
      "e": end,
      "l": left,
      "r": right,
      "start": flex-start,
      "end": flex-end,
      "center": center,
      "around": space-around,
      "evenly": space-evenly,
      "stretch": space-stretch,
      "between": space-between,
    ),
  ),
  "align-items": (
    "prefix": "align-items",
    "values": (
      "s": start,
      "e": end,
      "l": left,
      "r": right,
      "start": flex-start,
      "end": flex-end,
      "center": center,
      "self-start": self-start,
      "self-end": self-end,
    ),
  ),
  "width": (
    "prefix": "w",
    "values": (
      "auto": auto,
      "10": 10%,
      "20": 20%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
      "60": 60%,
      "70": 70%,
      "80": 80%,
      "90": 90%,
      "full": 100%,
    ),
  ),
  "height": (
    "prefix": "h",
    "values": (
      "auto": auto,
      "10": 10%,
      "20": 20%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
      "60": 60%,
      "70": 70%,
      "80": 80%,
      "90": 90%,
      "full": 100%,
    ),
  ),
  "position": (
    "prefix": "position",
    "values": (
      "relative": relative,
      "absolute": absolute,
      "fixed": fixed,
      "sticky": -webkit-sticky,
    ),
  ),
  "font-weight": (
    "prefix": "font",
    "values": (
      "normal": 400,
      "medium": 500,
      "semi-bold": 600,
      "bold": 700,
      "bold-large": 800,
    ),
  ),
  "text-align": (
    "prefix": "text",
    "values": (
      "center": center,
      "start": start,
      "justify": justify,
      "end": end,
    ),
  ),
  "text-decoration": (
    "prefix": "text-decoration",
    "values": (
      "underline": underline,
      "none": none,
      "inherit": inherit,
      "initial": initial,
      "revert": revert,
      "revert-layer": revert-layer,
      "unset": unset,
    ),
  ),
);
// generate utilities classes
@each $propriety, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $key, $val in $values {
    @if ($key == "default") {
      .#{$prefix} {
        #{$propriety}: $val !important;
      }
    } @else {
      .#{$prefix}-#{$key} {
        #{$propriety}: $val !important;
      }
    }
  }
}
// Liste des valeurs de padding, et margin
$padding-values: (
  "0": 0,
  "1": $base-padding,
  "2": $base-padding * 2,
  "3": $base-padding * 4,
  "4": $base-padding * 6,
  "5": $base-padding * 8,
);

// Boucle pour générer les classes
@each $key, $value in $padding-values {
  .px-#{$key} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .mx-#{$key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
  .my-#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}
