.card-payement {
  height: 150px;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 7px 10px 50px 0px #e8e2f0;
  background: #fff;
  padding: 2em;
  margin-bottom: 2em;
  z-index: 6;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      color: $gray;
      margin-bottom: 0.2em;
    }
    .desc {
      color: #756f6f;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(150.72deg, #00b5d0 3.87%, #5c0e62 110.68%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
