$primary: #5c0e62;
$secondary: #857885;
$danger: #de3333;
$green: #008b5d;
$blue: #1688fe;
$blue-think: #798ac9;
$yellow: #ffbc51;
$gray: #5C5E6E;
$gray-light: rgba(#727272, 0.5);
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "green": $green,
  "blue": $blue,
  "blue-think": $blue-think,
  "yellow": $yellow,
  "gray": $gray,
  "gray-light": $gray-light,
  "white": #fff,
  "black": rgba(#000, 0.8),
  "trasparent": transparent,
);
// fonts
$font-base: 15px;
$font-size-xs: $font-base * 0.5;
$font-size-sm: $font-base * 0.75;
$font-size-md: $font-base;
$font-size-lg: $font-base * 1.5;
$font-size-xl: $font-base * 2;
$font-size-xxl: $font-base * 3;

// spacing
$base-padding: 0.25rem;
$base-margin: 0.25rem;

//border
$base-border-thickness: 1px;
$base-border-radius: 20px;
$border-color: #cdcdd0;

//gap
$gap-base: 5px;

//pages
$header-h: 80px;
