.bp-footer {
  color: $secondary;

  &__content {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #210933;
    height: 100%;
    min-height: 60vh;
    .logo {
      .bp-image {
        height: 60px;
        margin-left: -45px;
        margin-bottom: 2em;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }

    .social{
      display: flex;
      a{
        width: 50px;
        height: 50px;
        margin-right: 1em;
        i{
          font-size: 40px;
        }
      }
    }

    .link-list {
      .title {
        margin-bottom: 1.5em;
        font-size: 1.1em;
        font-weight: 800;
        color: #fff;
      }
      li {
        margin-bottom: 1em;
      }
    }
  }
}
