.bp-app {
  .bp-header {
    position: relative;
    top: 0;
    height: $header-h;
    display: block;
    background: transparent;
    &__content {
      display: flex;
      justify-content: space-between;
      color: #fff;
      height: $header-h;
      &-logo {
        display: flex;
        align-items: center;
        height: 100%;
        .bp-image {
          width: 150px;
          height: 60px;
          img {
            object-fit: contain;
          }
        }
      }
      &-nav {
        height: 100%;
        display: flex;
        align-items: center;
        ul {
          display: flex;
          gap: 35px;
          padding: 0 1em;
          li {
            a {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 0;
                height: 2px;
                background: rgba(#fff, 0.8);
                transition: width 0.2s ease-in;
              }
              &:hover::after,
              &.active::after {
                width: 80%;
              }
              &.active{
                font-weight: 600;
              }
            }
          }
        }
      }
      &-log {
        display: flex;
        align-items: center;
        gap: 35px;
      }
    }
  }
}
