.bp-btn {
  @include btn;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
    background-color: $primary;
    color: #000;
  }
}

@each $key, $val in $colors {
  .bp-btn-#{$key} {
    @include btn($val);
    @if ($val == black) {
      color: #fff;
    }
    &:hover {
      background: lighten($val, 5);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
      background-color: $val;
    }
  }
  .bp-btn-outlined-#{$key} {
    @include btn;
    border: $base-border-thickness solid $val;
    color: $val;
    &:hover {
      background: lighten($val, 5);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
      background-color: $val;
    }
  }

  .bp-btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
      background-color: $val;
    }
  }
}
