.bp-card {
  background-color: #fff;
  border-radius: 8px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1em;
  border: 1px solid $border-color;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &.no-border {
    border: none !important;
    .bp-card__header {
      &::after {
        background: none !important;
      }
    }
  }
  &__header {
    padding: 1em;
    position: relative;
    h2 {
      font-weight: 1.5em;
      font-weight: 700;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #ededed;
    }
  }
  &__content {
    padding: 1em;
    overflow: auto;
  }

  &__footer {
    padding: 1em;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #ededed;
    }
  }
}
