.text-primary {
  color: #5c0e62 !important;
}

.bg-primary {
  background-color: #5c0e62 !important;
  background-image: #5c0e62 !important;
}

.hover\:text-primary {
  transition: all 0.5s ease;
}
.hover\:text-primary:hover {
  color: #5c0e62 !important;
}

.hover\:bg-primary {
  transition: all 0.5s ease;
}
.hover\:bg-primary:hover {
  background-color: #5c0e62 !important;
  background-image: #5c0e62 !important;
}

.border-primary {
  border-color: #5c0e62 !important;
}

.text-secondary {
  color: #857885 !important;
}

.bg-secondary {
  background-color: #857885 !important;
  background-image: #857885 !important;
}

.hover\:text-secondary {
  transition: all 0.5s ease;
}
.hover\:text-secondary:hover {
  color: #857885 !important;
}

.hover\:bg-secondary {
  transition: all 0.5s ease;
}
.hover\:bg-secondary:hover {
  background-color: #857885 !important;
  background-image: #857885 !important;
}

.border-secondary {
  border-color: #857885 !important;
}

.text-danger {
  color: #de3333 !important;
}

.bg-danger {
  background-color: #de3333 !important;
  background-image: #de3333 !important;
}

.hover\:text-danger {
  transition: all 0.5s ease;
}
.hover\:text-danger:hover {
  color: #de3333 !important;
}

.hover\:bg-danger {
  transition: all 0.5s ease;
}
.hover\:bg-danger:hover {
  background-color: #de3333 !important;
  background-image: #de3333 !important;
}

.border-danger {
  border-color: #de3333 !important;
}

.text-green {
  color: #008b5d !important;
}

.bg-green {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.hover\:text-green {
  transition: all 0.5s ease;
}
.hover\:text-green:hover {
  color: #008b5d !important;
}

.hover\:bg-green {
  transition: all 0.5s ease;
}
.hover\:bg-green:hover {
  background-color: #008b5d !important;
  background-image: #008b5d !important;
}

.border-green {
  border-color: #008b5d !important;
}

.text-blue {
  color: #1688fe !important;
}

.bg-blue {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.hover\:text-blue {
  transition: all 0.5s ease;
}
.hover\:text-blue:hover {
  color: #1688fe !important;
}

.hover\:bg-blue {
  transition: all 0.5s ease;
}
.hover\:bg-blue:hover {
  background-color: #1688fe !important;
  background-image: #1688fe !important;
}

.border-blue {
  border-color: #1688fe !important;
}

.text-blue-think {
  color: #798ac9 !important;
}

.bg-blue-think {
  background-color: #798ac9 !important;
  background-image: #798ac9 !important;
}

.hover\:text-blue-think {
  transition: all 0.5s ease;
}
.hover\:text-blue-think:hover {
  color: #798ac9 !important;
}

.hover\:bg-blue-think {
  transition: all 0.5s ease;
}
.hover\:bg-blue-think:hover {
  background-color: #798ac9 !important;
  background-image: #798ac9 !important;
}

.border-blue-think {
  border-color: #798ac9 !important;
}

.text-yellow {
  color: #ffbc51 !important;
}

.bg-yellow {
  background-color: #ffbc51 !important;
  background-image: #ffbc51 !important;
}

.hover\:text-yellow {
  transition: all 0.5s ease;
}
.hover\:text-yellow:hover {
  color: #ffbc51 !important;
}

.hover\:bg-yellow {
  transition: all 0.5s ease;
}
.hover\:bg-yellow:hover {
  background-color: #ffbc51 !important;
  background-image: #ffbc51 !important;
}

.border-yellow {
  border-color: #ffbc51 !important;
}

.text-gray {
  color: #5C5E6E !important;
}

.bg-gray {
  background-color: #5C5E6E !important;
  background-image: #5C5E6E !important;
}

.hover\:text-gray {
  transition: all 0.5s ease;
}
.hover\:text-gray:hover {
  color: #5C5E6E !important;
}

.hover\:bg-gray {
  transition: all 0.5s ease;
}
.hover\:bg-gray:hover {
  background-color: #5C5E6E !important;
  background-image: #5C5E6E !important;
}

.border-gray {
  border-color: #5C5E6E !important;
}

.text-gray-light {
  color: rgba(114, 114, 114, 0.5) !important;
}

.bg-gray-light {
  background-color: rgba(114, 114, 114, 0.5) !important;
  background-image: rgba(114, 114, 114, 0.5) !important;
}

.hover\:text-gray-light {
  transition: all 0.5s ease;
}
.hover\:text-gray-light:hover {
  color: rgba(114, 114, 114, 0.5) !important;
}

.hover\:bg-gray-light {
  transition: all 0.5s ease;
}
.hover\:bg-gray-light:hover {
  background-color: rgba(114, 114, 114, 0.5) !important;
  background-image: rgba(114, 114, 114, 0.5) !important;
}

.border-gray-light {
  border-color: rgba(114, 114, 114, 0.5) !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
  background-image: #fff !important;
}

.hover\:text-white {
  transition: all 0.5s ease;
}
.hover\:text-white:hover {
  color: #fff !important;
}

.hover\:bg-white {
  transition: all 0.5s ease;
}
.hover\:bg-white:hover {
  background-color: #fff !important;
  background-image: #fff !important;
}

.border-white {
  border-color: #fff !important;
}

.text-black {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: rgba(0, 0, 0, 0.8) !important;
}

.hover\:text-black {
  transition: all 0.5s ease;
}
.hover\:text-black:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.hover\:bg-black {
  transition: all 0.5s ease;
}
.hover\:bg-black:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: rgba(0, 0, 0, 0.8) !important;
}

.border-black {
  border-color: rgba(0, 0, 0, 0.8) !important;
}

.text-trasparent {
  color: transparent !important;
}

.bg-trasparent {
  background-color: transparent !important;
  background-image: transparent !important;
}

.hover\:text-trasparent {
  transition: all 0.5s ease;
}
.hover\:text-trasparent:hover {
  color: transparent !important;
}

.hover\:bg-trasparent {
  transition: all 0.5s ease;
}
.hover\:bg-trasparent:hover {
  background-color: transparent !important;
  background-image: transparent !important;
}

.border-trasparent {
  border-color: transparent !important;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}

/* Large container */
.container-lg {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}

/* Extra large container */
.container-xl {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}

/* For ensuring that content doesn't exceed container width */
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 2rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 2rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.o-10 {
  opacity: 0.1 !important;
}

.o-20 {
  opacity: 0.2 !important;
}

.o-30 {
  opacity: 0.3 !important;
}

.o-40 {
  opacity: 0.4 !important;
}

.o-50 {
  opacity: 0.5 !important;
}

.o-60 {
  opacity: 0.6 !important;
}

.o-70 {
  opacity: 0.7 !important;
}

.o-80 {
  opacity: 0.8 !important;
}

.o-90 {
  opacity: 0.9 !important;
}

.o-100 {
  opacity: 1 !important;
}

.border-none {
  border: none !important;
}

.border {
  border: 1px solid #cdcdd0 !important;
}

.border-1 {
  border: 1px solid #cdcdd0 !important;
}

.border-2 {
  border: 2px solid #cdcdd0 !important;
}

.border-3 {
  border: 3px solid #cdcdd0 !important;
}

.border-4 {
  border: 4px solid #cdcdd0 !important;
}

.border-5 {
  border: 5px solid #cdcdd0 !important;
}

.border-dashed-1 {
  border: 1px dashed #cdcdd0 !important;
}

.border-dashed-2 {
  border: 2px dashed #cdcdd0 !important;
}

.border-dashed-3 {
  border: 3px dashed #cdcdd0 !important;
}

.border-dashed-4 {
  border: 4px dashed #cdcdd0 !important;
}

.border-dashed-5 {
  border: 5px dashed #cdcdd0 !important;
}

.br {
  border-radius: 20px !important;
}

.br-none {
  border-radius: 0 !important;
}

.br-xs {
  border-radius: 5px !important;
}

.br-sm {
  border-radius: 10px !important;
}

.br-md {
  border-radius: 20px !important;
}

.br-lg {
  border-radius: 40px !important;
}

.br-round {
  border-radius: 50% !important;
}

.br-full {
  border-radius: 100% !important;
}

.d-n {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-grid {
  display: grid !important;
}

.gap-1 {
  gap: 5px !important;
}

.gap-2 {
  gap: 7.5px !important;
}

.gap-3 {
  gap: 10px !important;
}

.gap-4 {
  gap: 12.5px !important;
}

.gap-5 {
  gap: 15px !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-inherit {
  flex-wrap: inherit !important;
}

.flex-initial {
  flex-wrap: initial !important;
}

.flex-unset {
  flex-wrap: unset !important;
}

.font-xs {
  font-size: 7.5px !important;
}

.font-sm {
  font-size: 11.25px !important;
}

.font-md {
  font-size: 15px !important;
}

.font-lg {
  font-size: 22.5px !important;
}

.font-xl {
  font-size: 30px !important;
}

.font-xxl {
  font-size: 45px !important;
}

.fs-normal {
  font-style: normal !important;
}

.fs-italic {
  font-style: italic !important;
}

.fs-oblique {
  font-style: oblique !important;
}

.justify-content-s {
  justify-content: start !important;
}

.justify-content-e {
  justify-content: end !important;
}

.justify-content-l {
  justify-content: left !important;
}

.justify-content-r {
  justify-content: right !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.justify-content-stretch {
  justify-content: space-stretch !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-s {
  align-items: start !important;
}

.align-items-e {
  align-items: end !important;
}

.align-items-l {
  align-items: left !important;
}

.align-items-r {
  align-items: right !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-self-start {
  align-items: self-start !important;
}

.align-items-self-end {
  align-items: self-end !important;
}

.w-auto {
  width: auto !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-full {
  width: 100% !important;
}

.h-auto {
  height: auto !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-full {
  height: 100% !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semi-bold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-bold-large {
  font-weight: 800 !important;
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.text-justify {
  text-align: justify !important;
}

.text-end {
  text-align: end !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-inherit {
  text-decoration: inherit !important;
}

.text-decoration-initial {
  text-decoration: initial !important;
}

.text-decoration-revert {
  text-decoration: revert !important;
}

.text-decoration-revert-layer {
  text-decoration: revert-layer !important;
}

.text-decoration-unset {
  text-decoration: unset !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.px-5 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mx-5 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.bp-row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(8.3333333333% - 10px) !important;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(16.6666666667% - 10px) !important;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(25% - 10px) !important;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(33.3333333333% - 10px) !important;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(41.6666666667% - 10px) !important;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(50% - 10px) !important;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(58.3333333333% - 10px) !important;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(66.6666666667% - 10px) !important;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(75% - 10px) !important;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(83.3333333333% - 10px) !important;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(91.6666666667% - 10px) !important;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% - 10px) !important;
  }
}
.col-1 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(8.3333333333% - 10px);
}

.col-2 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(16.6666666667% - 10px);
}

.col-3 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(25% - 10px);
}

.col-4 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(33.3333333333% - 10px);
}

.col-5 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(41.6666666667% - 10px);
}

.col-6 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(50% - 10px);
}

.col-7 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(58.3333333333% - 10px);
}

.col-8 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(66.6666666667% - 10px);
}

.col-9 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(75% - 10px);
}

.col-10 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(83.3333333333% - 10px);
}

.col-11 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(91.6666666667% - 10px);
}

.col-12 {
  box-sizing: border-box;
  flex-grow: 0;
  width: calc(100% - 10px);
}

.bp-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1em;
  border: 1px solid #cdcdd0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.bp-card.no-border {
  border: none !important;
}
.bp-card.no-border .bp-card__header::after {
  background: none !important;
}
.bp-card__header {
  padding: 1em;
  position: relative;
}
.bp-card__header h2 {
  font-weight: 1.5em;
  font-weight: 700;
}
.bp-card__header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #ededed;
}
.bp-card__content {
  padding: 1em;
  overflow: auto;
}
.bp-card__footer {
  padding: 1em;
  position: relative;
}
.bp-card__footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #ededed;
}

.bp-image {
  position: relative;
  overflow: hidden;
}
.bp-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bp-image.contain img {
  object-fit: contain;
}
.bp-image.cover img {
  object-fit: cover;
}

.bp-form {
  margin-bottom: 1em;
  position: relative;
}
.bp-form label {
  display: flex;
  padding: 0.5em 0.2em;
}
.bp-form .prepend-icon {
  width: 40px;
  position: absolute;
  bottom: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cdcdd0;
  transition: all 1s ease;
}
.bp-form .prepend-icon i {
  font-size: 1.3em;
  color: #ccc;
}
.bp-form:focus-within .prepend-icon {
  background: #1688fe;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bp-form:focus-within .prepend-icon i {
  color: #fff;
}
.bp-form input,
.bp-form select {
  height: 40px;
  padding: 0 1em;
  font-size: 15px;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  border: 1px solid #ededed;
}
.bp-form input:focus,
.bp-form select:focus {
  border: 1px solid #ededed;
  outline: none;
}
.bp-form input::placeholder,
.bp-form select::placeholder {
  color: #ccc; /* Change this to the desired color */
}
.bp-form textarea {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #ededed;
  height: 100px;
  padding: 1em;
  z-index: 2;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  resize: vertical;
  font-size: 15px;
  font-weight: bold;
}
.bp-form textarea:focus, .bp-form textarea:valid, .bp-form textarea:disabled {
  border-radius: 4px;
  background: #fff;
}
.bp-form textarea::placeholder {
  color: #ccc; /* Change this to the desired color */
}
.bp-form .bp-checkbox {
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bp-form .bp-checkbox label input[type=checkbox] {
  display: none;
  display: none;
}
.bp-form .bp-checkbox label input[type=checkbox] + .cr > .cr-icon {
  opacity: 0;
}
.bp-form .bp-checkbox label input[type=checkbox]:checked + .cr {
  background: #5c0e62;
  border: none;
}
.bp-form .bp-checkbox label input[type=checkbox]:checked + .cr > .cr-icon {
  opacity: 1;
  opacity: 1;
}
.bp-form .bp-checkbox label input[type=checkbox]:disabled + .cr {
  opacity: 0.5;
  opacity: 0.5;
}
.bp-form .bp-checkbox label:after {
  content: "";
  display: table;
  clear: both;
}
.bp-form .bp-checkbox > span {
  font-weight: 500;
}
.bp-form .bp-checkbox .cr {
  position: relative;
  display: inline-block;
  border: 2px solid #a9a9a9;
  border-radius: 0.25em;
  width: 20px !important;
  height: 20px !important;
  margin-right: 0.75em;
  background: #fff;
}
.bp-form .bp-checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.9em;
  line-height: 0;
  top: 50%;
  left: 20%;
  color: #fff !important;
}

.bp-btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5c0e62;
  color: #000;
}

.bp-btn-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #5c0e62;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-primary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-primary:hover {
  background: #711178;
}
.bp-btn-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5c0e62;
}

.bp-btn-outlined-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #5c0e62;
  color: #5c0e62;
}
.bp-btn-outlined-primary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-primary:hover {
  background: #711178;
}
.bp-btn-outlined-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5c0e62;
}

.bp-btn-complement-primary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #5c0e62;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #36e029;
}
.bp-btn-complement-primary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-primary:hover {
  color: #5c0e62;
  background-color: #36e029;
}
.bp-btn-complement-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5c0e62;
}

.bp-btn-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #857885;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-secondary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-secondary:hover {
  background: #918591;
}
.bp-btn-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #857885;
}

.bp-btn-outlined-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #857885;
  color: #857885;
}
.bp-btn-outlined-secondary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-secondary:hover {
  background: #918591;
}
.bp-btn-outlined-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #857885;
}

.bp-btn-complement-secondary {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #857885;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #c8cec8;
}
.bp-btn-complement-secondary i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-secondary:hover {
  color: #857885;
  background-color: #c8cec8;
}
.bp-btn-complement-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #857885;
}

.bp-btn-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #de3333;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-danger i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-danger:hover {
  background: #e24949;
}
.bp-btn-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #de3333;
}

.bp-btn-outlined-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #de3333;
  color: #de3333;
}
.bp-btn-outlined-danger i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-danger:hover {
  background: #e24949;
}
.bp-btn-outlined-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #de3333;
}

.bp-btn-complement-danger {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #de3333;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #b7f3f3;
}
.bp-btn-complement-danger i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-danger:hover {
  color: #de3333;
  background-color: #b7f3f3;
}
.bp-btn-complement-danger:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #de3333;
}

.bp-btn-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-green i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-green:hover {
  background: #00a56e;
}
.bp-btn-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.bp-btn-outlined-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #008b5d;
  color: #008b5d;
}
.bp-btn-outlined-green i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-green:hover {
  background: #00a56e;
}
.bp-btn-outlined-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.bp-btn-complement-green {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #008b5d;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ff256d;
}
.bp-btn-complement-green i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-green:hover {
  color: #008b5d;
  background-color: #ff256d;
}
.bp-btn-complement-green:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #008b5d;
}

.bp-btn-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-blue i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-blue:hover {
  background: #2f95fe;
}
.bp-btn-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.bp-btn-outlined-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #1688fe;
  color: #1688fe;
}
.bp-btn-outlined-blue i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-blue:hover {
  background: #2f95fe;
}
.bp-btn-outlined-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.bp-btn-complement-blue {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #1688fe;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #ffd7ae;
}
.bp-btn-complement-blue i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-blue:hover {
  color: #1688fe;
  background-color: #ffd7ae;
}
.bp-btn-complement-blue:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #1688fe;
}

.bp-btn-blue-think {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #798ac9;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-blue-think i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-blue-think:hover {
  background: #8b9ad0;
}
.bp-btn-blue-think:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #798ac9;
}

.bp-btn-outlined-blue-think {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #798ac9;
  color: #798ac9;
}
.bp-btn-outlined-blue-think i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-blue-think:hover {
  background: #8b9ad0;
}
.bp-btn-outlined-blue-think:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #798ac9;
}

.bp-btn-complement-blue-think {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #798ac9;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #f5f2e6;
}
.bp-btn-complement-blue-think i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-blue-think:hover {
  color: #798ac9;
  background-color: #f5f2e6;
}
.bp-btn-complement-blue-think:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #798ac9;
}

.bp-btn-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #ffbc51;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-yellow i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-yellow:hover {
  background: #ffc66b;
}
.bp-btn-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffbc51;
}

.bp-btn-outlined-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #ffbc51;
  color: #ffbc51;
}
.bp-btn-outlined-yellow i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-yellow:hover {
  background: #ffc66b;
}
.bp-btn-outlined-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffbc51;
}

.bp-btn-complement-yellow {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #ffbc51;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #eaf2ff;
}
.bp-btn-complement-yellow i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-yellow:hover {
  color: #ffbc51;
  background-color: #eaf2ff;
}
.bp-btn-complement-yellow:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #ffbc51;
}

.bp-btn-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #5C5E6E;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-gray i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-gray:hover {
  background: #686a7c;
}
.bp-btn-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5C5E6E;
}

.bp-btn-outlined-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #5C5E6E;
  color: #5C5E6E;
}
.bp-btn-outlined-gray i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-gray:hover {
  background: #686a7c;
}
.bp-btn-outlined-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5C5E6E;
}

.bp-btn-complement-gray {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #5C5E6E;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: #b8b7ab;
}
.bp-btn-complement-gray i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-gray:hover {
  color: #5C5E6E;
  background-color: #b8b7ab;
}
.bp-btn-complement-gray:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #5C5E6E;
}

.bp-btn-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: rgba(114, 114, 114, 0.5);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-gray-light i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-gray-light:hover {
  background: rgba(127, 127, 127, 0.5);
}
.bp-btn-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.bp-btn-outlined-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid rgba(114, 114, 114, 0.5);
  color: rgba(114, 114, 114, 0.5);
}
.bp-btn-outlined-gray-light i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-gray-light:hover {
  background: rgba(127, 127, 127, 0.5);
}
.bp-btn-outlined-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.bp-btn-complement-gray-light {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: rgba(114, 114, 114, 0.5);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(191, 191, 191, 0.5);
}
.bp-btn-complement-gray-light i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-gray-light:hover {
  color: rgba(114, 114, 114, 0.5);
  background-color: rgba(191, 191, 191, 0.5);
}
.bp-btn-complement-gray-light:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(114, 114, 114, 0.5);
}

.bp-btn-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #fff;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-white i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-white:hover {
  background: white;
}
.bp-btn-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.bp-btn-outlined-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid #fff;
  color: #fff;
}
.bp-btn-outlined-white i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-white:hover {
  background: white;
}
.bp-btn-outlined-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.bp-btn-complement-white {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: #fff;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: white;
}
.bp-btn-complement-white i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-white:hover {
  color: #fff;
  background-color: white;
}
.bp-btn-complement-white:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: #fff;
}

.bp-btn-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-black i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-black:hover {
  background: rgba(13, 13, 13, 0.8);
}
.bp-btn-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.bp-btn-outlined-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
.bp-btn-outlined-black i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-black:hover {
  background: rgba(13, 13, 13, 0.8);
}
.bp-btn-outlined-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.bp-btn-complement-black {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(77, 77, 77, 0.8);
}
.bp-btn-complement-black i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-black:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(77, 77, 77, 0.8);
}
.bp-btn-complement-black:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.bp-btn-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
}
.bp-btn-trasparent i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-trasparent:hover {
  background: rgba(13, 13, 13, 0);
}
.bp-btn-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.bp-btn-outlined-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  border: 1px solid transparent;
  color: transparent;
}
.bp-btn-outlined-trasparent i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-outlined-trasparent:hover {
  background: rgba(13, 13, 13, 0);
}
.bp-btn-outlined-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.bp-btn-complement-trasparent {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cdcdd0;
  background-color: transparent;
  transition: all ease 0.2s;
  min-height: 40px;
  font-size: 15px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 1em;
  color: rgba(77, 77, 77, 0);
}
.bp-btn-complement-trasparent i {
  font-size: 15px;
  margin-right: 0.5em;
}
.bp-btn-complement-trasparent:hover {
  color: transparent;
  background-color: rgba(77, 77, 77, 0);
}
.bp-btn-complement-trasparent:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  background-color: transparent;
}

.bp-spinner-square {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 50px;
}
.bp-spinner-square > .square {
  width: 8px;
  height: 80px;
  margin: auto auto;
  border-radius: 4px;
}
.bp-spinner-square .square-1 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}
.bp-spinner-square .square-2 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite;
}
.bp-spinner-square .square-3 {
  animation: tst-square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite;
}

@keyframes tst-square-anim {
  0% {
    height: 30px;
    background-color: #5c0e62;
  }
  20% {
    height: 30px;
  }
  40% {
    height: 50px;
    background-color: rgba(92, 14, 98, 0.5);
  }
  80% {
    height: 30px;
  }
  100% {
    height: 30px;
    background-color: #5c0e62;
  }
}
#loading-spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
#loading-spinner .spinner {
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading-spinner .inner {
  border-top: 5px solid #5c0e62;
  border-bottom: 5px solid #5c0e62;
  width: 70px;
  height: 70px;
  margin: -35px;
  -webkit-animation: inner-spin 3s linear infinite;
  animation: inner-spin 3s linear infinite;
}
#loading-spinner .outer {
  border-right: 5px solid #5c0e62;
  border-left: 5px solid #5c0e62;
  width: 90px;
  height: 90px;
  margin: -45px;
  -webkit-animation: outer-spin 3s linear infinite;
  animation: outer-spin 3s linear infinite;
}
#loading-spinner .eye {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #5c0e62;
  animation: eye-flash 3s infinite;
}
@-webkit-keyframes inner-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes inner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes outer-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate-(180deg);
  }
}
@keyframes outer-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes eye-flash {
  0% {
    background-color: #5c0e62;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #5c0e62;
  }
}

s-input {
  position: relative;
}
s-input:focus-within s-placeholder {
  top: -25px;
  background: #fff;
  z-index: 3;
  color: #5c0e62;
  font-size: 0.9em;
}
s-input select option {
  font-weight: 600;
}
s-input input,
s-input select {
  width: 100%;
  outline: none;
  border: 1px solid #cdcdd0 !important;
  height: 45px;
  padding: 5px 10px;
  z-index: 2;
  background: transparent;
  font-size: 1.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 600;
}
s-input input + s-placeholder,
s-input select + s-placeholder {
  position: absolute;
  background: transparent;
  top: -3px;
  left: 5px;
  transition: all 0.2s ease;
  padding: 0 5px;
  font-size: 1em;
  z-index: 1;
}
s-input input:valid,
s-input select:valid {
  border: 1px solid #5c0e62 !important;
}
s-input input:valid + s-placeholder,
s-input select:valid + s-placeholder {
  top: -25px;
  background: #fff;
  z-index: 3;
  color: #5c0e62;
  font-size: 0.9em;
}
s-input input:focus,
s-input select:focus {
  border: 1px solid #5c0e62 !important;
}
s-input textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #857885;
  height: 200px;
  padding: 10px;
  z-index: 2;
  background: transparent;
  font-size: 1.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
  position: relative;
  resize: none;
  color: #857885;
  font-weight: 600;
}
s-input textarea + s-placeholder {
  color: #857885;
  position: absolute;
  top: -175px;
  left: 8px;
  transition: all 0.3s ease;
  padding: 0 5px;
}
s-input textarea:focus, s-input textarea:valid {
  background: #5c0e62;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
s-input textarea:focus + s-placeholder, s-input textarea:valid + s-placeholder {
  top: -200px;
  background: #fff;
  z-index: 3;
  color: #5c0e62;
  font-size: 0.9em;
  left: 8px;
}
s-input s-label {
  color: #857885;
}
s-input s-prepend-icon {
  position: absolute;
  top: -8px;
  right: 10px;
  z-index: 4;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;
  background: #5c0e62;
  border: none;
  padding: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
s-input s-append-icon {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 4;
  transition: all 0.2s ease;
  color: #b48e4d;
  cursor: pointer;
  font-size: 20px;
}

s-radio label {
  display: flex;
  margin: 0.25em 0;
}
s-radio label input[type=radio] {
  appearance: none;
  margin: 0;
  margin-right: 0.75em;
  font: inherit;
  color: #c19d60;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #ccc;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
s-radio label input[type=radio]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #c19d60;
}
s-radio label input[type=radio]:checked::before {
  transform: scale(1);
}
s-radio label input[type=radio]:checked {
  appearance: none;
  margin: 0;
  margin-right: 0.75em;
  font: inherit;
  color: #c19d60;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid #c19d60;
  border-radius: 50%;
}

s-checkbox {
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
s-checkbox label input[type=checkbox] {
  display: none;
  display: none;
}
s-checkbox label input[type=checkbox] + .cr > .cr-icon {
  opacity: 0;
  opacity: 0;
}
s-checkbox label input[type=checkbox]:checked + .cr {
  background: #5c0e62;
}
s-checkbox label input[type=checkbox]:checked + .cr > .cr-icon {
  opacity: 1;
  opacity: 1;
}
s-checkbox label input[type=checkbox]:disabled + .cr {
  opacity: 0.5;
  opacity: 0.5;
}
s-checkbox label:after {
  content: "";
  display: table;
  clear: both;
}
s-checkbox > span {
  font-weight: 500;
}
s-checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 25px;
  height: 25px;
  padding: 5px 10px;
  margin-right: 0.75em;
}
s-checkbox .cr .cr-icon {
  position: absolute;
  font-size: 1em;
  line-height: 0;
  top: 55%;
  left: 15%;
  color: #857885;
}

.card-payement {
  height: 150px;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 7px 10px 50px 0px #e8e2f0;
  background: #fff;
  padding: 2em;
  margin-bottom: 2em;
  z-index: 6;
}
.card-payement__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-payement__content .title {
  color: #5C5E6E;
  margin-bottom: 0.2em;
}
.card-payement__content .desc {
  color: #756f6f;
}
.card-payement::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(150.72deg, #00b5d0 3.87%, #5c0e62 110.68%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bp-app {
  min-height: 100vh;
  width: 100%;
}

.bp-app .bp-header {
  position: relative;
  top: 0;
  height: 80px;
  display: block;
  background: transparent;
}
.bp-app .bp-header__content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 80px;
}
.bp-app .bp-header__content-logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.bp-app .bp-header__content-logo .bp-image {
  width: 150px;
  height: 60px;
}
.bp-app .bp-header__content-logo .bp-image img {
  object-fit: contain;
}
.bp-app .bp-header__content-nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.bp-app .bp-header__content-nav ul {
  display: flex;
  gap: 35px;
  padding: 0 1em;
}
.bp-app .bp-header__content-nav ul li a {
  position: relative;
}
.bp-app .bp-header__content-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  transition: width 0.2s ease-in;
}
.bp-app .bp-header__content-nav ul li a:hover::after, .bp-app .bp-header__content-nav ul li a.active::after {
  width: 80%;
}
.bp-app .bp-header__content-nav ul li a.active {
  font-weight: 600;
}
.bp-app .bp-header__content-log {
  display: flex;
  align-items: center;
  gap: 35px;
}

.bp-footer {
  color: #857885;
}
.bp-footer__content {
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: #210933;
  height: 100%;
  min-height: 60vh;
}
.bp-footer__content .logo .bp-image {
  height: 60px;
  margin-left: -45px;
  margin-bottom: 2em;
}
.bp-footer__content .logo .bp-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.bp-footer__content .social {
  display: flex;
}
.bp-footer__content .social a {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}
.bp-footer__content .social a i {
  font-size: 40px;
}
.bp-footer__content .link-list .title {
  margin-bottom: 1.5em;
  font-size: 1.1em;
  font-weight: 800;
  color: #fff;
}
.bp-footer__content .link-list li {
  margin-bottom: 1em;
}

.bp-banner {
  margin-top: -80px;
  height: 100vh;
  width: 100%;
  background-image: url("../img/vague-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: #fff;
  background-color: #f7f3fa;
}
@media (min-width: 1200px) {
  .bp-banner {
    height: 600px;
  }
}
@media (min-width: 1400px) {
  .bp-banner {
    background-size: contain;
    background-position: 50% 50%;
  }
}
.bp-banner__content {
  height: 100%;
  padding-top: 80px;
}
.bp-banner__left {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bp-banner__left .title {
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
}
.bp-banner__left .desc {
  font-weight: 400;
}
.bp-banner__right {
  height: 100%;
  position: relative;
}
.bp-banner__right-one, .bp-banner__right-two {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.bp-banner__right-one .bp-image, .bp-banner__right-two .bp-image {
  width: 100%;
  height: 100%;
}
.bp-banner__right-one .bp-image img, .bp-banner__right-two .bp-image img {
  object-fit: contain;
}

.bp-payement {
  min-height: 50vh;
  width: 100%;
  background-color: #f7f3fa;
  padding-top: 3em;
}
.bp-payement__content {
  height: 100%;
  position: relative;
  z-index: 1;
  z-index: 6;
  position: relative;
}
.bp-payement__content-card {
  padding: 1em 5em;
  margin-top: 2em;
}
.bp-payement__content-card .card-left {
  margin-top: 3em;
}
.bp-payement__content-desc .title {
  position: relative;
}
.bp-payement__content-desc .title h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  color: #857885;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.bp-payement__content-desc .title h2 span {
  color: #5c0e62;
  font-weight: 600;
}
.bp-payement__content-desc .title img {
  position: absolute;
  top: -35px;
  left: -35px;
}

.bp-partner {
  width: 100%;
  padding: 1em 0;
  position: relative;
}
.bp-partner__content {
  height: 100%;
  position: relative;
  z-index: 1;
}
.bp-partner__content .bg-vague {
  position: absolute;
  left: 0;
  top: -170px;
  z-index: 0;
  width: 100%;
}
.bp-partner__content .bg-vague img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.bp-partner__content .list-partner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.bp-partner__content .list-partner__item {
  padding: 1em 0;
  height: 55px;
}
.bp-partner__content .list-partner__item .bp-image {
  width: 100%;
  height: 100%;
}
.bp-partner__content .list-partner__item .bp-image img {
  object-fit: contain;
}

.bp-services {
  width: 100%;
  padding-top: 3em;
}
.bp-services__content {
  height: 100%;
  position: relative;
  z-index: 1;
}
.bp-services__items {
  height: 350px;
  margin-bottom: 2em;
}
.bp-services__items .content {
  height: 100%;
}
.bp-services__items .content-body {
  position: relative;
  z-index: 1;
}
.bp-services__items .content-body .blob {
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: 0;
}
.bp-services__items .content-body h4.subtitle {
  color: #de3333;
  text-transform: uppercase !important;
  font-size: 0.7em;
  font-weight: 800;
  position: relative;
  z-index: 1;
}
.bp-services__items .content-body h2 {
  color: #857885;
  font-weight: 800;
  font-size: 2em;
  line-height: 1.2em;
  position: relative;
  z-index: 1;
}
.bp-services__items .content-body h3 {
  color: #5c0e62;
  font-weight: 800;
  font-size: 2em;
  line-height: 1.2em;
  position: relative;
  z-index: 1;
}
.bp-services__items-img .bp-image {
  height: 100%;
  width: 100%;
}
.bp-services__items-img .bp-image img {
  object-fit: contain;
}

.bp-testimonial {
  width: 100%;
  background-color: #fff;
  padding-top: 3em;
  position: relative;
  z-index: 1;
  height: 600px;
}
.bp-testimonial__content {
  position: relative;
  height: 100%;
  color: #fff;
  background-image: url("../img/vague-bottom.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bp-testimonial__content .blob-left {
  position: absolute;
  left: 0;
  top: -50%;
  overflow: hidden;
  max-height: 150%;
}
.bp-testimonial__content .blob-right {
  position: absolute;
  right: 0;
  top: -50%;
  overflow: hidden;
  max-height: 150%;
}
.bp-testimonial__left {
  height: 100%;
  display: flex;
  padding: 8em;
  flex-direction: column;
  justify-content: flex-end;
}
.bp-testimonial__left .title {
  margin-bottom: 1em;
}
.bp-testimonial__left .title h2 {
  font-size: 2.2em;
  line-height: 1em;
  font-weight: 800;
}
.bp-testimonial__left .title h2 span {
  font-weight: 800;
}
.bp-testimonial__right {
  height: 100%;
  display: flex;
  padding: 8em 8em 8em 4em;
  flex-direction: column;
  justify-content: flex-end;
}
.bp-testimonial__right .card-testimonial {
  height: 100%;
  position: relative;
}
.bp-testimonial__right .card-testimonial__item-1 {
  height: 80%;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.bp-testimonial__right .card-testimonial__item-1 .image {
  display: flex;
  justify-content: center;
}
.bp-testimonial__right .card-testimonial__item-1 .image .bp-image {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.bp-testimonial__right .card-testimonial__item-1 .desc {
  font-size: 0.8em;
}
.bp-testimonial__right .card-testimonial__item-1 .info .name {
  font-weight: 800;
  font-size: 1.2em;
}
.bp-testimonial__right .card-testimonial__item-1 .info .role {
  font-size: 0.8em;
}
.bp-testimonial__right .card-testimonial__item-2 {
  position: absolute;
  left: 40%;
  bottom: 0;
}
.bp-testimonial__right .card-testimonial__item-2 .image {
  display: flex;
  justify-content: center;
}
.bp-testimonial__right .card-testimonial__item-2 .image .bp-image {
  border: 2px solid #fff;
  border-radius: 50%;
}
.bp-testimonial__right .card-testimonial__item-2 .image .bp-image {
  width: 50px;
  height: 50px;
}
.bp-testimonial__right .card-testimonial__item-3 {
  position: absolute;
  right: -10px;
  bottom: 0;
}
.bp-testimonial__right .card-testimonial__item-3 .image {
  display: flex;
  justify-content: center;
}
.bp-testimonial__right .card-testimonial__item-3 .image .bp-image {
  border: 2px solid #fff;
  border-radius: 50%;
}
.bp-testimonial__right .card-testimonial__item-3 .image .bp-image {
  width: 45px;
  height: 45px;
}
.bp-testimonial__right .card-testimonial__item-4 {
  position: absolute;
  right: 0;
  bottom: 45%;
}
.bp-testimonial__right .card-testimonial__item-4 .image {
  display: flex;
  justify-content: center;
}
.bp-testimonial__right .card-testimonial__item-4 .image .bp-image {
  border: 2px solid #fff;
  border-radius: 50%;
}
.bp-testimonial__right .card-testimonial__item-4 .image .bp-image {
  width: 45px;
  height: 45px;
}
.bp-testimonial__right .card-testimonial__item-5 {
  position: absolute;
  top: 0;
  right: -40px;
}
.bp-testimonial__right .card-testimonial__item-5 .image {
  display: flex;
  justify-content: center;
}
.bp-testimonial__right .card-testimonial__item-5 .image .bp-image {
  border: 2px solid #fff;
  border-radius: 50%;
}
.bp-testimonial__right .card-testimonial__item-5 .image .bp-image {
  width: 45px;
  height: 45px;
}
.bp-testimonial .contact {
  width: 80%;
  left: 10%;
  border: 1px solid #fff;
  height: 100px;
  position: absolute;
  bottom: -50px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bp-testimonial .contact h2 {
  line-height: 50px;
  font-weight: 700;
  margin-right: 50px;
}
.bp-testimonial .contact h2 span {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
