.bp-banner {
  margin-top: -$header-h;
  height: 100vh;
  @include xl {
    height: 600px;
  }
  width: 100%;
  background-image: url("../img/vague-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  @include xxl {
    background-size: contain;
    background-position: 50% 50%;
  }
  color: #fff;
  background-color: #f7f3fa;
  &__content {
    height: 100%;
    padding-top: $header-h;
  }
  &__left {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
      font-size: 3em;
      line-height: 1em;
      font-weight: bold;
    }
    .desc {
      font-weight: 400;
    }
  }
  &__right {
    height: 100%;
    position: relative;
    &-one,
    &-two {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      .bp-image {
        width: 100%;
        height: 100%;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
