.bp-partner {
  width: 100%;
  padding: 1em 0;
  position: relative;
  &__content {
    height: 100%;
    position: relative;
    .bg-vague {
      position: absolute;
      left: 0;
      top: -170px;
      z-index: 0;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    z-index: 1;
    .list-partner {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;
      &__item {
        padding: 1em 0;
        height: 55px;
        .bp-image {
          width: 100%;
          height: 100%;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
