.bp-payement {
  min-height: 50vh;
  width: 100%;
  background-color: #f7f3fa;
  padding-top: 3em;
 
  &__content {
    height: 100%;
    position: relative;
    z-index: 1;
    z-index: 6;
    position: relative;
    &-card {
      
      padding: 1em 5em;
      margin-top: 2em;
      .card-left {
        margin-top: 3em;
      }
    }
    &-desc {
      .title {
        position: relative;
        h2 {
          font-size: 2.5em;
          line-height: 1.2em;
          color: $secondary;
          font-weight: 600;
          position: relative;
          z-index: 1;
          span {
            color: $primary;
            font-weight: 600;
          }
        }
        img {
          position: absolute;
          top: -35px;
          left: -35px;
        }
      }
    }
  }
}
