.bp-services {
  width: 100%;
  // background-color: #f7f3fa;
  padding-top: 3em;
  &__content {
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &__items {
    height: 350px;
    margin-bottom: 2em;
    .content {
      height: 100%;
      &-body {
        position: relative;
        z-index: 1;
        .blob {
          position: absolute;
          top: -40px;
          left: -40px;
          z-index: 0;
        }
        h4.subtitle {
          color: $danger;
          text-transform: uppercase !important;
          font-size: 0.7em;
          font-weight: 800;
          position: relative;
          z-index: 1;
        }
        @mixin title {
          font-weight: 800;
          font-size: 2em;
          line-height: 1.2em;
          position: relative;
          z-index: 1;
        }
        h2 {
          color: $secondary;
          @include title;
        }
        h3 {
          color: $primary;
          @include title;
        }
      }
    }
    &-img {
      .bp-image {
        height: 100%;
        width: 100%;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
