.bp-testimonial {
  width: 100%;
  background-color: #fff;
  padding-top: 3em;
  position: relative;
  z-index: 1;
  height: 600px;

  &__content {
    position: relative;
    height: 100%;
    color: #fff;
    background-image: url("../img/vague-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    .blob-left {
      position: absolute;
      left: 0;
      top: -50%;
      overflow: hidden;
      max-height: 150%;
    }
    .blob-right {
      position: absolute;
      right: 0;
      top: -50%;
      overflow: hidden;
      max-height: 150%;
    }
  }
  &__left {
    height: 100%;
    display: flex;
    padding: 8em;
    flex-direction: column;
    justify-content: flex-end;
    .title {
      margin-bottom: 1em;
      h2 {
        font-size: 2.2em;
        line-height: 1em;
        font-weight: 800;
        span {
          font-weight: 800;
        }
      }
    }
  }
  &__right {
    height: 100%;
    display: flex;
    padding: 8em 8em 8em 4em;
    flex-direction: column;
    justify-content: flex-end;
    .card-testimonial {
      height: 100%;
      position: relative;
      &__item {
        &-1 {
          height: 80%;
          width: 60%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
          .image {
            display: flex;
            justify-content: center;
            .bp-image {
              width: 100px;
              height: 100px;
              border: 2px solid #fff;
              border-radius: 50%;
            }
          }
          .desc {
            font-size: 0.8em;
          }
          .info {
            .name {
              font-weight: 800;
              font-size: 1.2em;
            }
            .role {
              font-size: 0.8em;
            }
          }
        }
        @mixin imageAbsolute {
          position: absolute;
          .image {
            display: flex;
            justify-content: center;
            .bp-image {
              border: 2px solid #fff;
              border-radius: 50%;
            }
          }
        }
        &-2 {
          @include imageAbsolute;
          left: 40%;
          bottom: 0;
          .image {
            .bp-image {
              width: 50px;
              height: 50px;
            }
          }
        }
        &-3 {
          @include imageAbsolute;
          right: -10px;
          bottom: 0;
          .image {
            .bp-image {
              width: 45px;
              height: 45px;
            }
          }
        }
        &-4 {
          @include imageAbsolute;
          right: 0;
          bottom: 45%;
          .image {
            .bp-image {
              width: 45px;
              height: 45px;
            }
          }
        }
        &-5 {
          @include imageAbsolute;
          top: 0;
          right: -40px;
          .image {
            .bp-image {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
  }

  .contact {
    width: 80%;
    left: 10%;
    border: 1px solid #fff;
    height: 100px;
    position: absolute;
    bottom: -50px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      line-height: 50px;
      font-weight: 700;
      margin-right: 50px;
      span {
        font-weight: 700;
      }
    }
  }
}
